:root {
  --bg-black: #202020;
  --bg-black-opacity: #4a4a4a;
  --bg-hashtag: #333;
  --text-color-white: #fff;
  --hover: #ff6e30;
  --focus: #bc572b;
  --active: #ce4307;
  --default: #cacaca;
  --bg-pagination-btn: #c4c4c4;
  --input-error: #f06666;
  --bg-hover-pagination-btn: #e9e9e9;
  --bg-focus-pagination-btn: #ffd4c1;
  --focus-pagination-btn-text-color: #223444;
  --studio-services-text-color: #666666;
  --stock: #fff500;
}
